---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Type from "../../components/posts/Type.astro";
const pageTitle = "About.";
---



<BaseLayout pageTitle={pageTitle}>

    <main>
        <article>
            <Type typeTitle="about." routeTitle="about" />
            <div class="about-container">
                
                <h2>bence</h2>

                <!-- quick intro -->
                <p>I live inside the wire since '99.</p>
                <p>I find frontend to be more exciting than backend. From color to caching you can find a lot of fun.</p>
                <p>I'm the first ever person who used caching and fun in the same sentence</p>
                
                <h2>why this blog?</h2>
                <h3>We have a lot of cool tech blogs out there. I wanted something different.</h3>
                
                <h3>what else could I do?</h3>
                <ul>
                    <li>snipe typos in github issues</li>
                    <li>write dev.to / medium / freecodecamp articles on how to install react?</li>
                    <li>clickbait youtube videos?</li>
                    <li>dancing on tiktok to 10 second song</li>
                    <li>or the worst case scenario. become a linkedin influencer?</li>
                </ul>
                
                <p>It all started a decade ago by coincidence, moving close to where a friend of mine lived. And one day he told be “hey you are not a complete idiot, you should learn to code.”</p>
                
                <p>In a way he single handedly ruined my life and I hold him responsible for sitting here and I’m not somewhere else, making furniture, painting, picking strawberries.</p>
                
                <p>I realized this back in 2019 when I applied for a frontend job. Just debugged their site. . Waited 5 more years to start working on it.</p>
                
                <a href="">more about me on madbence.com</a>

            </div>
        </article>

        <aside>
            
        </aside>

    </main>

</BaseLayout>

<style>
    .about-container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
    }
    .about-container p {
        margin-top: 3rem;
    }

</style>