---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Type from "../../components/posts/Type.astro";
const pageTitle = "About.";
---



<BaseLayout pageTitle={pageTitle}>

    <main>
        <article class="post">
            <Type typeTitle="about." routeTitle="about" />
            <div class="about-container">
                
                <h2>bence</h2>

                <!-- quick intro -->
                <ul>
                    <li>Inside the wire since '99.</li>
                    <li>A friend of mine showed me this python thing more than a decade ago.</li> 
                    <li>In a way he single handedly ruined my life and I hold him responsible for being here now.</li>
                    <li>I find frontend to be more exciting than backend. From color to caching there's a lot of fun things to explore.</li>
                    <li>I'm the first ever person who used caching and fun in the same sentence.</li>
                    <li>We are not going to touch caching here.</li>
                </ul>
                
                <h2>the content</h2>

                <ul>
                    <li>Do you like weird or interesting things, bugs?</li>
                    <li>Do you prefer reading real, production examples with images and comments?</li>
                    <li>Are you a Frontend / JavaScript enjoyer and don't mind the depths of the whatever.js ecosystem?</li>
                </ul>
                
                <h2>something important</h2>
                <p>Not targeting devs here, or judging code quality. It's the business sides failure most times anyway. Will judge my own only. Plenty to do so.</p>
                
                <h2>this blog</h2>
                <p>We have a lot of cool tech blogs out there. I wanted something different.</p>
                
                <p>I realized I quite like debugging frontend things back in 2019. Since then I wanted to document my journey and share it,
                    but I never had the time or the balls to start it.
                </p>

                <p>What else could I do?</p>
                <ul>
                    <li>Snipe typos on GitHub?</li>
                    <li>Write dev.to / freecodecamp articles on how to install React?</li>
                    <li>Clickbait Youtube videos?</li>
                    <li>Dance on TikTok?</li>
                    <li>Or God forbid, become a LinkedIn influencer?</li>
                </ul>
                
                <p>more on <a href="https://madbence.com">madbence.com</a></p>

            </div>
        </article>

        <aside>
            
        </aside>

    </main>

</BaseLayout>
