---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "About.";
---



<BaseLayout pageTitle={pageTitle}>

    <main>

        <article>
            <h1>About</h1>
        </article>

        <aside>
            
        </aside>

    </main>

</BaseLayout>