---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Type from "../../components/posts/Type.astro";
const pageTitle = "About.";
---



<BaseLayout pageTitle={pageTitle}>

    <main>
        <article>
            <Type typeTitle="about." routeTitle="about" />
            <div class="about-container">
                
                <p>Frameworks -> HTMX -> Vanilla -> Frameworks -> ???</p>
            </div>
        </article>

        <aside>
            
        </aside>

    </main>

</BaseLayout>

<style>
    .about-container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
    }
    .about-container p {
        margin-top: 3rem;
    }

</style>