:root {
    /* default light */
    --text-primary: #0b0b0b;
    --text-secondary: #f3f0e8;
    --background: #1b96f1;
    --secondary: #51f5f2;
    --tertiary: #deee24;
    /* light */
    --text-primary-light: #f5515f;
    --text-secondary-light: #0b0b0b;
    --background-primary-light: #1b96f1;
    --background-primary-light-opacity: #1b96f17e;
    --secondary-light: #f3f0e8;
    --secondary-light-opacity: #f3f0e8d0;
    --tertiary-light: #0b0b0b;
    /* dark */
    --text-primary-dark: #cf4a60;
    --text-secondary-dark: #beddf2;
    --background-primary-dark: #000a12;
    --background-primary-dark-opacity: #000a127e;
    --secondary-dark: #021f37;
    --secondary-dark-opacity: #021f377e;
    --tertiary-dark: #beddf2;
    /* mine */
    --text-primary-mine: #ea4b01;
    --text-secondary-mine: #f9d98a;
    --background-primary-mine: #e20707;
    --background-primary-mine-opacity: #e207077e;
    --secondary-mine: #040c50;
    --secondary-mine-opacity: #040c507e;
    --tertiary-mine: #ffb700;
    /* mixed */
    --highlight-blue: #63c2eb;
    --highlight-green: #4fe196;

    --transparent-white: #ffffff37;
    --header-height: 100px;
    --nav-width: 400px;
    --background-image: radial-gradient(circle at 100% 100%, var(--background-primary-opacity), var(--secondary) 95%, var(--secondary) 95%);
    --box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    --box-shadow-light: 0 3px 15px rgba(255, 255, 255, 0.096);
    --text-primary-gradient: #f5515f88;
    --background-primary-gradient: #1b94f161;
    --background-image-span: linear-gradient(45deg, #cc331b, #b10303);
    /* --borders: 1px solid var(--tertiary); */
    --borders: none;
    --border-zero: 0px;
    --border-small: 5px;
    --border-rounded: 0px;
    --footer-height: 65px;
}

html {
    font-size: 67.5%;
    font-family: var(--font-regular);
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--background);
    /* background-image: var(--background-image); */
    font-family: 'Material Icons', sans-serif;
    font-family: 'Public Sans Variable', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

*,
*::after,
*::before {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

h1 {
    color: var(--text-primary);
}

h2 {
    font-family: var(--font-primary);
    color: var(--text-secondary);
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a,a:visited {
    text-decoration: none;
    color: inherit;
}

article div.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 10px;
}

a.tag {
    border: 1px solid var(--text-secondary);
    padding: 5px 10px;
    /* border-radius: var(--border-small); */
    color: var(--text-secondary);
    background-color: var(--background);
}

::selection {
    background-color: var(--text-primary);
    color: var(--secondary);
}

button {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    box-shadow: var(--box-shadow);
}

main {
    margin-top: var(--header-height);
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: var(--nav-width);
    min-height: 100vh;
    border-top: var(--borders);
    border-left: var(--borders);
    border-radius: var(--border-rounded);
    border-bottom-left-radius: 0px;
}

article {
    width: 100%;
    color: var(--text-primary);
    flex-basis: 75%;
    padding-left: var(--header-height);
    padding-right: var(--header-height);
    padding-bottom: calc(5% + var(--footer-height));
    padding-top: 5%;
}

/* post HTML styles */

.post h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-secondary);
    text-transform: capitalize;
}

.post h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    /* color: red; */
}

.post span {
    font-size: 1.2rem;
    color: var(--text-secondary);
}

aside {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 5% 0% 5% 0%;
    margin-right: 25px;
    /* background-color: #0000000a; */
}

aside h3 {
    color: var(--text-secondary);
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

aside p {
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: #0000000a;

}

@media (max-width: 1650px) {
    article {
        padding-left: calc(var(--header-height) / 2);
        padding-right: calc(var(--header-height) / 2);
    }
}
@media (max-width: 1400px) {
    :root {
        --nav-width: 300px;
    }       
}

@media (max-width: 1250px) {
    :root {
        --nav-width: 250px;
    }
    article {
        padding-left: calc(var(--header-height) / 4);
        padding-right: calc(var(--header-height) / 4);
    } 

    @media (max-width: 1100px) {
        .desktop-only {
            display: none;
        }
        article {
            flex-basis: 100%;
        }
    }
}