:root {
    /* default light */
    --text-primary: #0b0b0b;
    --text-secondary: #f3f0e8;
    --background: #1d97f5;
    --background-minimal: #0000000a;
    --tertiary: #deee24;
    /* light */
    --text-primary-light: #0b0b0b;
    --text-secondary-light: #f3f0e8;
    --background-primary-light: #1b96f1;
    --background-minimal-light: #0000000a;
    --tertiary-light: #deee24;
    /* dark */
    --text-primary-dark: #beddf2;
    --text-secondary-dark: #d41394;
    --background-primary-dark: #000a12;
    --background-minimal-dark: transparent; 
    --tertiary-dark: #9f046c;
    /* mine */
    /* 4062BB */
    /* FF7F11 */
    /* f8c332 */
    /* 1d97f5 */
    --transparent-white: #ffffff37;
    --header-height: 100px;
    --nav-width: 400px;
    /* --background-image: radial-gradient(circle at 100% 100%, var(--background-primary-opacity), var(--secondary) 95%, var(--secondary) 95%); */
    --box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    --box-shadow-light: 0 3px 15px rgba(255, 255, 255, 0.096);
    --text-primary-gradient: #ddee2467;
    --background-primary-gradient: #1b94f19e;
    --background-image-span: linear-gradient(45deg, #cc331b, #b10303);
    /* --borders: 1px solid var(--tertiary); */
    --borders: none;
    --border-zero: 0px;
    --border-small: 5px;
    --border-rounded: 0px;
    --footer-height: 65px;
}

html {
    font-size: 67.5%;
}

body.load {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--background);
    font-family: 'Public Sans Variable', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

*,
*::after,
*::before {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

h1 {
    color: var(--text-primary);
}

ul {
    list-style: none;
}

a,a:visited {
    text-decoration: none;
    color: inherit;
}

article div.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 10px;
}

a.tag {
    border: 1px solid var(--text-secondary);
    padding: 5px 10px;
    /* border-radius: var(--border-small); */
    color: var(--text-secondary);
    background-color: var(--background);
}

::selection {
    background-color: var(--text-primary);
    color: var(--tertiary);
}

button:not(#themeToggle, .close-profile) {
    font-size: 1.2rem;
    /* padding: .5rem 1rem; */
    width: fit-content;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: var(--text-primary);
    color: var(--text-secondary);
    box-shadow: var(--box-shadow);
}

main {
    margin-top: var(--header-height);
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: var(--nav-width);
    border-top: var(--borders);
    border-left: var(--borders);
    border-radius: var(--border-rounded);
    border-bottom-left-radius: 0px;
}

article {
    width: 100%;
    min-height: 100svh;
    color: var(--text-primary);
    flex-basis: 75%;
    padding-left: var(--header-height);
    padding-right: var(--header-height);
    padding-bottom: calc(5% + var(--footer-height));
}

/* post HTML styles */

.post h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-secondary);
    text-transform: capitalize;
}

.post h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post a:not(.tag) {
    color: var(--tertiary);
}
.post p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.post p:first-of-type {
    margin-top: 5rem;
}
.post p:last-of-type {
    margin-bottom: 5rem;
}
.post p:has(+ img) {
    margin-bottom: 3rem;
}
.post span {
    font-size: 1.2rem;
    color: var(--text-secondary);
}
.post img {
    width: contain;
    max-width: 100%;
}

aside {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0% 0% 5% 0%;
    margin-right: 25px;
}

aside h3 {
    color: var(--text-primary);
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

aside p {
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: var(--background-minimal);
    color: var(--text-secondary);

}

@media (max-width: 1650px) {
    article {
        padding-left: calc(var(--header-height) / 2);
        padding-right: calc(var(--header-height) / 2);
    }
}
@media (max-width: 1400px) {
    :root {
        --nav-width: 300px;
    }       
}

@media (max-width: 1250px) {
    :root {
        --nav-width: 250px;
    }
    article {
        padding-left: calc(var(--header-height) / 4);
        padding-right: calc(var(--header-height) / 4);
    } 
}

@media (max-width: 1250px) {
    body {
        flex-direction: column;
    }
    nav {
        position: initial;
    }
}

@media (max-width: 1100px) {
    .desktop-only {
        display: none;
    }
    main {
        flex-direction: column-reverse;
    }
    article {
        flex-basis: 100%;
    }
    aside {
        padding-bottom: 0;
        padding-right: 25px;
        padding-left: 25px;
    }
    aside p {
        color: var(--text-primary);
    }
}

@media (max-width: 950px) {
    main {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    :root {
        /* not bad for mobile */
        /* --header-height: 50px; */
        --header-height: 75px;
    }
    article {
        padding: 5px 5px;
        padding-bottom: calc(var(--footer-height) + 25px);
    }
    aside {
        padding: 5px 5px;
    }
    main {
        /* min-height: 100svh; */
    }
}

@media (max-width: 350px) {

}