---
import Profile from './Profile.astro';
const mainCategories = ["debug", "opinion", "frontend", "junior", "self destruct"]
---

<nav>

    <Profile />

    <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/tags">All Tags</a></li>
        {mainCategories.map((category) => (
			<li class="nav-item" ><a href={`/tags/${category}`}>{category}</a></li> 
		))}
    </ul>

</nav>


<style>

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--nav-width);
        border-radius: var(--border-rounded);
        border-top: var(--borders);
    }

    nav h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-end; */
        width: 70%;
    }

    .nav-item {
        /* padding: .25rem; */
        font-weight: 700;
        /* width: 100%; */;
        text-align: right;
        background-color: #0000000a;
        margin-top: .35rem;
    }

    .nav-item a {
        border-left: 1px solid var(--text-secondary);
        text-transform: uppercase;
        font-size: 1.2rem;
        display: inline-block;
        width: 95%;
        padding: .5rem .5rem .5rem 15px;
        font-weight: 700;
        color: var(--text-secondary);
        transition: all .3s ease-in-out;
        /* ok this one is accidental but I like it */
        margin-right: 1rem;
    }

    .nav-item a:hover {
        background-color: var(--tertiary);
        color: var(--text-primary);
        /* border-left: 3px solid var(--tertiary); */
        padding-right: 15px;
        width: 100%;
    }

    .active {
        background-color: var(--text-primary);
        color: var(--text-secondary);
        border-left: 3px solid var(--text-primary);
        padding-right: 15px;
    }

    @media (max-height: 850px) {
        nav {
        }
    }

</style>

<script>

// tomorrow
// function trackRoute(href) {
//     let navItem = document.querySelectorAll('.nav-item a');
//     console.log(navItem);
//     // check if href path is in the innerHTML of the nav item and add active class
//     navItem.forEach(item => {
//         console.log(item.innerHTML);
//         if(item.innerHTML.toLowerCase().includes(href.toLowerCase())) {
//             item.classList.add('active');
//             console.log("active");
//         } else {
//             item.classList.remove('active');
//         }
//     });
// }

</script>