---
// import { Image } from 'astro:assets'; 
// import selfie from '../../assets/images/ben.jpg';
---

<div class="profile">

    <div>
        <div class="profile-picture">
            <!-- <button class="close-profile">hide</button> -->
        </div>
        <h2>Bence Madar</h2>
    </div>
    
        <ul class="profile-socials">
            <li><a href="https://github.com/" target="_blank">github</a></li>
            <li><a href="https://twitter.com/" target="_blank">twitter</a></li>
            <li><a href="/rss.xml.js" target="_blank">rss</a></li>
        </ul>
        <p>
            I once failed as a freelancer for not following the "take the money and run" principle. I happen to find interesting things, bugs.
            <a href="/about.html" class="nav-link">More..</a>
        </p>


</div>


<style>
    .profile {
        background-color: #00000008;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        width: 70%;
    }

    /* button.close-profile {
        position: absolute;
        width: fit-content;
        bottom: 0;
        left:0;
        padding: .5rem 1rem;
        transform: translate(-5%, 20%);
        border-radius: 25px;
        font-size: .9rem;
        font-weight: 900;
        border: none;
        cursor: pointer;
        background-color: var(--text-primary);
        color: var(--text-secondary);
        box-shadow: var(--box-shadow);
    } */

    .profile div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile h2 {
        margin-top: 1rem;
        /* background-color: #0000000a; */
        text-align: center;
        min-width: 175px;
        font-weight: 900;
        color: var(--text-secondary);
    }

    .profile p {
        display: inline-block;
        background-color: #0000000a;
        text-align: left;
        color: var(--text-primary);
        font-size: 1.25rem;
        font-weight: 700;
        /* width: 175px; */
        width: 90%;
        padding: 1rem 1rem;
        /* border-top: 2px solid var(--text-primary); */
    }

    .profile p > a {
        color: var(--text-secondary);
        text-decoration: underline;
        font-weight: 700;
        margin-left: 10px;
    }

    .profile-picture {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        border: 4px solid var(--text-primary);
        background-image: linear-gradient(45deg, var(--text-primary-gradient), var(--background-primary-gradient)), url(../../assets/images/me.jpg);
        background-position: center center;
        background-size: cover;
        box-shadow: var(--box-shadow);
        /* margin-top: 25%; */
        margin-top: 25px;
    }

    .profile-socials {
        margin-top: 1rem;
        display: flex;
        gap: 10px;
        height: 40px;
        font-weight: 900;
        text-decoration: underline;
        color: var(--tertiary);
    }

    @media (max-width: 1400px) {
        .profile-picture {
            width: 150px;
            height: 150px;
            margin-top: 15%;
        }
        .profile {
            width: 90%;
            /* margin-left: 1rem; */
        }
    }
    @media (max-width: 1250px) {
        .profile-picture {
            margin-top: 10%;
        }

    }
    @media (max-width: 950px) {
        .profile {
            margin-left: 25px;
            margin-right: 25px;
            width: 100%;
            margin-top: 0;
            flex-direction: row;
            justify-content: space-between;
            button {
                display: none;
            }
        }
        .profile h2 {
            margin-top: 0;
            margin-left: 20px;
        }
        .profile div:first-of-type {
            flex-direction: row;
        }
        .profile p {
                display: none;
        }
        .profile-picture {
            margin-top: 0;
            height: 55px;
            width: 55px;
        }
        .profile-socials {
            margin-top: 0;
            height: auto;
        }
    }
    @media (max-width: 500px) {
        .profile {
            margin-left: 0;
            margin-right: 0;
            padding: 5px 5px;
        }
        .profile h2 {
            min-width: fit-content;
            font-size: 1.8rem;
        }
        .profile-socials {
            font-size: 1.2rem;
        }
    }

</style>

<script>
    // let closeProfile = document.querySelector('.close-profile');
    // let profile = document.querySelector('.profile');
    // let nav = document.querySelector('.nav-list');
    // closeProfile.addEventListener('click', () => {
    //     profile.style.display = 'none';
    //     nav.style.marginTop = '25px';
    // });
</script>