---
import PostPreview from "../components/posts/PostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello.";


---

<BaseLayout pageTitle={pageTitle}>

	<main>
		<article>
			
			<PostPreview />

		</article>

	</main>

</BaseLayout>

<style>
	/* .desktop-only div {
		color: var(--text-primary);
		font-size: 1.8rem;
		font-weight: 700;
	} */

</style>