---
import PostPreview from "../components/posts/PostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello.";


---

<BaseLayout pageTitle={pageTitle}>

	<main>
		<article>
			
			<PostPreview />

		</article>

		<aside class="desktop-only">
			<h3>Under construction</h3>
            <p>Having fun? In this economy?</p>
            <h3>Upcoming</h3>
            <p>How a React UseEffect dependency array can say hello 42000 times in a minute at MBH Bank.</p>
            <p>Why does profession.hu has 78 strictly necessary cookies?</p>
			<h3>Previously on Very Serious Business</h3>
			<p>How I failed my previous blog.</p>
		</aside>
	</main>

</BaseLayout>