---
import PostPreview from "../components/posts/PostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello.";


---

<BaseLayout pageTitle={pageTitle}>

	<main>
		<article>
			
			<PostPreview />

		</article>

		<aside class="desktop-only">
			<div>Under construction</div>
            <p>Having fun? In this economy?</p>
		</aside>
	</main>

</BaseLayout>