---
---

<footer>
    <p>2024 - <a href="/" class="nav-link">veryseriousbusiness.xyz</a> by me.</p>
</footer>

<style>
    footer {
        display: flex;
        height: var(--footer-height);
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: var(--text-primary);
        font-weight: 500;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top-left-radius: var(--border-rounded);
        border-top-right-radius: var(--border-rounded);
        border-top: var(--borders);
        background-color: var(--tertiary);
    }

    footer a {
        text-decoration: underline;
    }
</style>