---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <main>
        <article class="post">
            <!-- push -->
            <h1>{frontmatter.title}</h1>
            <div class="tags">
                {frontmatter.tags.map((tag) => <a class="tag" href={`/tags/${tag}`}>{tag}</a>)}
            </div>

            <slot />

        </article>

    </main>
</BaseLayout>
