---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <main>
        <article class="post">

            <h1>{frontmatter.title}</h1>
            <div class="tags">
                {frontmatter.tags.map((tag) => <a class="tag" href={`/tags/${tag}`}>{tag}</a>)}
            </div>

            <slot />

        </article>

        <aside>

            <p>Published on <span>{frontmatter.pubDate.toString().slice(0,10)}</span></p> 

        </aside>

    </main>
</BaseLayout>

<style>
    /* move these? */
    aside span {
        font-size: 1.45rem;
        color: var(--text-secondary);
    }

    aside p {
        font-size: 1.45rem;
        color: var(--text-primary);
    }

</style>